$mainFont: 'Open Sans', sans-serif
$burger: #000
$headerBg:  #c4c4c4
$breadCrumbsBg: #f3f2ed
$breadCrumbsTextActive: #058dc7
$breadCrumbsText: #707478
$infoBlockSearchBg: #f9f8f6
$infoBlockSearchBorder: #f9f8f6
$infoUserOfflineBg: #e7e6e1
$infoUserOnlineBg: #fff
$infoUserTitle: #058dc7
$infoUserRaitingOnline: #ee144e
$infoUserRaitingOffline: #a2a2a2
$infoAllUserBorder: #e4e4e4
$infoCurrentUserSectionBorder: #e4e4e4
$infoUserStatusWorkBg: #2dd0c6
$infoUserStatusNotWorkBg: #d2154f
$secondTextColor: #fff
$infoCurrentUserTitle: #4d4d4d
$infoCurrentUserBorder: #ee144e
$infoCurrentUserDescriptions: #3e3e3e
$infoCurrentUserInformationBg: #f3f2f2
$infoCurrentUserInformation: #989898
$infoCurrentUserMainUserTitle: #000
$smilePhoto: #fff
$infoCurrentUserTopLeft: #808080
$infoCurrentUserSpan: #3e3e3e
$infoCurrentUserHeading: #808080
$infoCurrentUserSectionDescriptions: #000
$infoCurrentUserSectionItems: #c6c6c6
$infoCurrentUserSectionSpan: #ee144e
$infoBoderTable: #d1cfd7
$infoTableTitle: #8d8f93
$infoTableTd: #3e3e3e
$infoTableTime: #058dc7
$infoTableSpanGood: #00983e
$infoTableSpanBad: #ee144e
$infoTableSpanBeforeWeb: #f8d77f
$infoTableSpanBeforeGame: #f689a8
$infoTableSpanBeforeNews: #a6c8b3